html {
	font-family: arial;
}
h1 {
	font-size: 20pt;
	position: absolute;
	top: 1%;
	left: 0%;
	height: 50px;
	border-bottom: 0.5px solid black;
	width: 100%;
}
#login {
	position: absolute;
	top: 200px;
	width: 100%;
}
#info {
	width: 75%;
	text-align: left;
	border: 0.1px solid rgb(200, 200, 200);
	border-radius: 25px;
	padding: 3%;
}
#inner {
	position: absolute;
	top: 75px;
	width: 100%;
}
a {
	color: rgb(0, 40, 255);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}