RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.php [NC,L]

#RewriteCond %{HTTPS} off [OR]
#RewriteCond %{HTTP_HOST} !^www\.heywood-christadelphians\.org$ [NC]
#RewriteRule ^(.*)$ https://www.heywood-christadelphians.org/$1 [L,R=301]

DirectoryIndex index.html

ErrorDocument 404 /Errors/error404.htlm
ErrorDocument 401 /Errors/error401.htlm
ErrorDocument 500 /Errors/error500.htlm
